.scanner {
  font-family: 'Muli', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}
.parser {
  font-family: 'Muli', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}
code {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
}